header {
  padding: 10px;

  color: #61dafb;
  display: flex;
  align-items: center;
}

nav {
  flex: 1;
}

.dropdown-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: 15px;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #61dafb;
  border: none;
  color: #20232a;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #21a1f1;
}

.filter__coins{
  display: flex;
  justify-content: space-between;
}
.filter__item{
  cursor: pointer;
}

.dropdown-list {
display: flex;
flex-direction: column;
row-gap: 20px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.favorites-list {
  margin-top: 10px;
}

.favorites-list h4 {
  margin-bottom: 15px;
}


.active {
  background-color: grey;
}

.fav-icon {
  width: 20px;
  cursor: pointer;
}

.search__wrapper{
  position: relative;
}

.search-input{
  position: relative;
}

.clear__search{
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
}